[package]
name = "rubyfmt-wasm"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["staticlib"]

[dependencies]
rubyfmt = { git = "https://github.com/fables-tales/rubyfmt", rev = "ac5d7040b4f8bc5efff48ce28f35b9582e50ec3f", default-features = false }

[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1
strip = true
