[package]
name = "rubyfmt-wasm"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["staticlib"]

[dependencies]
rubyfmt = { git = "https://github.com/fables-tales/rubyfmt", rev = "cadd3d90081d37efbb7ffbc60cdda371624e1cf2", default-features = false }

[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1
strip = true
