[package]
name = "rubyfmt-wasm"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["staticlib"]

[dependencies]
rubyfmt = { git = "https://github.com/fables-tales/rubyfmt", rev = "14decf57bd71c51551eee9f900d6c29d3400b5a3", default-features = false }

[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1
strip = true
