[package]
name = "rubyfmt-wasm"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["staticlib"]

[dependencies]
rubyfmt = { git = "https://github.com/fables-tales/rubyfmt", rev = "dfd2442c4d88fc88cfc0fbd0d2908c7308fed969", default-features = false }

[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1
strip = true
