[package]
name = "rubyfmt-wasm"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["staticlib"]

[dependencies]
rubyfmt = { git = "https://github.com/fables-tales/rubyfmt", rev = "b36aebf6be0abe44203bad33ba31a7beb9bdb1f0", default-features = false }

[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1
strip = true
