[package]
name = "rubyfmt-wasm"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["staticlib"]

[dependencies]
rubyfmt = { git = "https://github.com/fables-tales/rubyfmt", rev = "e9b202ad7e78528c5d9a49990dea4e2168c4c40b", default-features = false }

[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1
strip = true
