[package]
name = "rubyfmt-wasm"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["staticlib"]

[dependencies]
rubyfmt = { git = "https://github.com/fables-tales/rubyfmt", rev = "0e638751d0cde556974ef7aeba9fe207aea6b8ee", default-features = false }

[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1
strip = true
