[package]
name = "rubyfmt-wasm"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["staticlib"]

[dependencies]
rubyfmt = { git = "https://github.com/fables-tales/rubyfmt", rev = "544151464e60d6ca858b86c0e1044894ed887a22", default-features = false }

[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1
strip = true
