[package]
name = "rubyfmt-wasm"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["staticlib"]

[dependencies]
rubyfmt = { git = "https://github.com/fables-tales/rubyfmt", rev = "e5012a4b793ae0d7d232a65c5805a0cf8e166c11", default-features = false }

[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1
strip = true
