[package]
name = "rubyfmt-wasm"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["staticlib"]

[dependencies]
rubyfmt = { git = "https://github.com/fables-tales/rubyfmt", rev = "435c1625399d366ccda67bbed6e8ffafd1b20a97", default-features = false }

[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1
strip = true
